body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


body {
  font-family: -apple-system, 'BlinkMacSystemFont', Helvetica, Arial, sans-serif;
}

/*.wow { visibility: hidden; }*/

.dev-icon {
  font-size: 110px;
  margin: 15px;
  padding: 15px;
  display: inline-block;
}

.hero-page {
  top:0;
  height: 100vh;
  width: 100%;
  background-image: url("https://unsplash.it/1250/900?image=39");
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
}

.hero-text {
  top:0;
  display: flex;
  flex-flow: column;
  width:40%;
}

.hero-font {
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 40px;
  opacity: .6;
}

.hero-font-add-items {
  display: none;
  margin: 5px 10px;
  font-weight: 700;
  font-size: 40px;
  opacity: .6;
}

/*SCROLL BUTTONS*/

.header {
  top:0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: transparent;
  transition: background-color 1s ease;
  opacity: 0.6;
  z-index: 99;
}

.ian {
  display: inline-block;
  font-size: 40px;
  width: 90px;
  margin: 5px 0px 0px 25px;
  font-weight: 700;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

/*.links {
  display: none;
}*/

.ian:hover {
  color: #0099cc;
}

.show {
  visibility: visible;
  transition: all 0.5s ease;
}

.clicked {
  color: #0099cc;
}

.white {
  background-color: white;
  opacity: 1;
}

.links {
  display: flex;
  flex-flow: row nowrap;
}

.scroll-buttons {
  margin-right: 20px;
  font-weight: 700;
  font-size: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.5s ease;
}

.scroll-buttons:hover {
  cursor: pointer;
  color: #0099cc;
  transform: scale(1.1)
}

/*ABOUT SECTION*/

.about-section {
  width: 100%;
  padding:30px;
}

.about-section h1 {
  width:50%;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
}

.about-boxes {
  display: flex;
  flex: row;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.box {
  width:30%;
  text-align: center;
}

.box p {
  color: grey;
}

.about-boxes i {
  font-size: 80px;
  color: gold;
  padding-bottom: 10px;
}
/*ABOUT SECTION*/

/*SKILLS SECTION*/

.skills-section{
  background-color: #eee;
  padding: 60px 0;
}

.skills-section h1 {
  width:30%;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
}

.skills-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}
/*SKILLS SECTION*/

/*PROJECTS SECTION*/

.projects-section {
  width: 100%;
}

.projects-container {
  width: 100%;
}

.project {
  width: 100%;
  display: flex;
  flex-flow: row;
  /*height: %;*/
  justify-content: space-between;
}

.project-link {
  width: 50%;
  height:500px;
}

.project-image {
  height: 100%;
  width: 100%;
}

.project-text {
  width: 50%;
  text-align: center;
}

.project-text-items {
  width: 70%;
  margin: auto;
  padding-top: 40px;
}

.project-title {
  font-size: 25px;
  color: #0099cc;
  font-weight: bold;
}

.project .links {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.links a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.project .links button {
  width:90px;
  margin: 0 5px;
  padding: 12px;
  background-color: #0099cc;
  border: none;
  border-radius: 5px;
  transition: 1s;
}
.project button:hover {
  background-color: transparent;
  color: #0099cc;
  border: 1px solid #0099cc;
  transition: 1s;
}

.project a:hover{
  color: #0099cc;
  transition: 1s;
}

/*PROJECTS SECTION*/

/*CONTACT SECTION*/

.contact {
  width: 100%;
  padding: 40px 0;
  background-color: #eee;
}

.contacts-container {
  margin:auto;
  width: 80%;
  text-align: center;
}

.contact-link {
  height: 150px;
  width: 150px;
  margin: auto;
  display: inline-block;
}

.contact h1 {
  width:30%;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}

.contact-link i {
  color: black;
}

.contact-link i:hover {
  color: #0099cc;
  border-radius: 20px;
  opacity: 0.8;
}

.contact button {
  width:150px;
  margin: 0 5px;
  padding: 12px;
  background-color: #0099cc;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  transition: 1s;
}

.contact button:hover {
  background-color: transparent;
  color: #0099cc;
  border: 1px solid #0099cc;
  transition: 1s;
}
/*CONTACT SECTION*/


@media only screen and (max-width: 800px){
  .links {
    display: none;
    width:90%;
    margin: auto;
    justify-content: space-around;
  }
  .scroll-buttons,
  .ian {
    font-size: 30px;
    padding: 5px;
  }
  .ian {
    display: none;
  }
  .hero-text {
    margin: -35px auto 0;
    text-align: center;
    padding-top: 40px;
    width:90%;
  }
  .hero-text p {
  }
  .project {
    flex-flow: column;
  }
  .project-link{
    width:100%;
    margin:auto;
  }
  .project-text {
    width:100%;
    margin:auto;
    padding-bottom: 15px;
    margin-bottom:40px;
    order: 1;
  }
  .project-text-items {
    padding-top: 0;
  }
  .project-built-with {
    display: none;
  }
  .about-boxes {
    flex-flow: column;
  }
  .box {
    width:100%;
    padding-bottom: 20px;
  }
  .skills-container {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .hero-text {
    margin-top: -35px;
  }

  .scroll-buttons {
    padding: 0;
    font-size: 20px;
  }

  .ian, .links {
    display: none;
  }
  .links{
    flex-flow: row nowrap;
    width:90%;
    margin: auto;
    justify-content: space-around;
  }

  .skills-container{
    width:100%;
  }
  .about-section {
    flex-flow: column;
  }
  .project-link {
    height:350px;
  }
  .hero-text {
    padding-top: 0;
  }
}